:root {
  --header-height: 50px;

  --palette-white: #fff;
  --palette-black: #000;
  --palette-dark-blue: #082f49;

  /* inside :root to avoid tailwind override */
  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);  /* fixed height */
  background-color: var(--palette-black);
  color: var(--palette-white);
  text-align: center;
  line-height: var(--header-height);  /* vertical centering */

  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  margin-top: var(--header-height);  /* push content below header */
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
}

#name {
  text-align: center;

  border: 1px solid red;
  border-radius: 5px;
  margin: 1px;
  padding: 1px;
}

#intro {
  display: flex;
  flex-direction: row;
  width: 100%;

  border: 1px solid red;
  border-radius: 5px;
  margin: 1px;
  padding: 1px;
}

#intro > * {
  padding: 10px;
}

#intro #pfp-container {
  flex: 0 0 25%;  /* fixed width */

  border: 1px solid red;
  border-radius: 5px;
  margin: 1px;
}

#intro #about-container {
  flex: 1;  /* take up remaining space */

  border: 1px solid red;
  border-radius: 5px;
  margin: 1px;
}

#pfp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#pfp-container #pfp {
  width: 100%;
  /*height: 100%;*/
  object-fit: cover;

  margin: auto;
  border-radius: 50%;
  transition: 0.3s ease-in-out;

  &:hover {
    border: 7px solid var(--palette-dark-blue);
    transition: 0.3s ease-in-out;
  }
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#about p {
  text-align: justify;
}

#social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;

  border: 1px solid red;
  border-radius: 5px;
  margin: 1px;
  padding: 1px;
}

.btn {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: teal;
}