.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 4rem;
}
.main {
  margin-top: 4rem;
}
.anchor {
  scroll-margin-top: 5rem;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

p a {
  color: #2bbcff;
}

ol.clear {
    list-style: revert;
    list-style-position: inside;
}

ul.clear {
    list-style: revert;
    list-style-position: inside;
}

h1 {
  text-align: center;
}

/* 'about' arrangement */

#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#profile-pic { /*w-1/3 p-4*/
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    width: 300px;
}
#profile-pic img {
    margin:auto;
    width: 280px;
    transition: 0.3s ease-in-out;
}
#profile-pic:hover img {
    width: 280px;
    border:7px solid #082f49;
    transition: 0.3s ease-in-out;
}

#intro { /*w-2/3 pl-6*/
  display: block;
  flex: 1;
  margin-top: 20px;
}

.media-grid {
    padding: 20px;
    max-width: 700px;
}
.wip-img {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 150px;
}

@media screen and (max-width: 900px) {
  #about {
    flex-direction: column;
  }

  #profile-pic {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #intro {
    margin-top: 0;
  }
}

/* crop profile pic */
#profile-pic img {
  border-radius: 50%;
}

/* space between paragraphs */
.main div p {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 5px;
  padding-bottom: 10px;
}

#button-bucket {
  padding: 5px;
}
#button-bucket a {
  margin-left: 5px;
  margin-right: 5px;
}
#button-bucket a:first-of-type {
  margin-left: 0;
}
#button-bucket a:last-of-type {
  margin-right: 0;
}

/* avoid buttons cutting in linbreak */
.btn {
  white-space: nowrap;
}

/* paragraphs in a list are indented */
li p {
  padding-left: 40px;
  margin-top: 5px;
}

/* sidebar menu */

.sidebar {
    position: fixed;
    top: 4rem;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 999;
    display: block;
    transition: .5s ease;
}

.sidebar-trigger {
    position: fixed;
    top: 0;
    right: 0;
    height: 4rem;
    width: 5rem;
}
.sidebar-trigger:hover + .sidebar {
    right: 0;
    transition: .5s ease;
}
.sidebar:hover {
    right: 0;
    transition: .5s ease;
}

.sidebar-menu {
  margin: 30px;
  padding: 0;
  list-style: none;
}

.sidebar-menu li:not(:last-child) {
  margin-bottom: 20px;
}

/* hovering */

.highlightBox{ /*unhover*/
  left:0;
  transition: 0.5s ease-in-out;
  position: relative;
}
.highlightBox:hover {
  transform: translateX(+20px);
  transition: 0.5s ease-in-out;
}

.highlightSide {
  position: absolute;
  top:0;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.highlightBox:hover .highlightSide {
  transform: translateX(+100%);
  transition: 0.5s ease-in-out;
}

.logoHidden {
    display: none;
}

.logoTrigger:hover .logoHidden {
    width: 15px;
    display: inline;
}

#miniproj-grid {
    padding: 10px;
    gap: 20px;
}

.grid-cell {
    position: relative;
    /* 150px->8cols; 100px->12cols */
    width: 100px;
    height: 100px;
}

.grid-cell img {
    position: block;
    width: 100%;
    height: 100%;
    border-radius: 25%;
}

.grid-cell-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(3, 105, 161, 0.7);
    border-radius: 25%;
}

.grid-cell:hover .grid-cell-overlay {
    opacity: 1;
}

.grid-cell-text {
    color: white;
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: trasnslate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
